src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="aeff9248-c8f3-4692-8643-224391b7f929" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="6c355670-0b96-4b02-b1b6-6a23db05435e" >
		<http:listener doc:name="Listener" doc:id="0b916377-4cc1-4b04-8a45-7e27aea579f5" config-ref="HTTP_Listener_config" path="/testing"/>
		<ee:transform doc:name="Transform Message" doc:id="036067f9-6e13-4474-8fa5-71292fad4438" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"heloooooo"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7e540dd1-be37-407d-a32e-5722f02c8200" message="#[payload]" />
	</flow>
</mule>
